@*@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using System.Data
@model DataTable

<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <!--begin::Main-->
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid" style="background-color:aliceblue">
            <!--begin::Toolbar-->
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                <!--begin::Toolbar container-->
                <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                    <!-- Header Start -->
                    <div class="header-area header-transparrent">
                        <div class="headder-top header-sticky">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-2">
                                        <!-- Logo -->
                                        <div class="logo">
                                            <a href="index.cshtml"><img src="assets/img/logo/logo.png" alt=""></a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header End -->
                    <!--begin::Actions-->

                    <div>
                        <a class="btn btn-sm btn-light" asp-area="SEC_User" asp-controller="SEC_User" asp-action="Logout">Logout</a>
                    </div>                    
                    <!--end::Actions-->
                </div>
                <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Content wrapper-->
        <div class="row g-5 p-2 m-2">
            <div >
            @foreach (DataRow dataRow in Model.Rows)
            {
                <div class="col-lg-3">
                    <a asp-area="Job" asp-controller="Job" asp-action="JobList">
                            <div class="card card-bordered mb-5 border-primary">
                            <div class="card-header">
                                    <h3 class="card-title" style="font-size:20px">Jobs</h3>
                            </div>
                            <div class="card-body" style="font-size:15px">
                                @dataRow["JobCount"]
                            </div>
                        </div>
                    </a>
                </div>   
            }
            </div>
        </div>
    </div>
    <!--end:::Main-->
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@


@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using System.Data
@using JobFinder.BAL
@model DataTable
<style>
    .job-count:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
    }
</style>
<div class="d-flex flex-column flex-root app-root" id="kt_app_root" >
    <!--begin::Page-->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page" >
        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper" style="background-color:aliceblue">
            <!--begin::Main-->
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <!--begin::Content wrapper-->
                <div class="d-flex flex-column flex-column-fluid" >
                    <!--begin::Toolbar-->
                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                        <!--begin::Toolbar container-->
                        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                <!--begin::Title-->
                                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Job Dashboard</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">Dashboards</li>
                                    <!--end::Item-->
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Toolbar container-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Content-->
                    <div id="kt_app_content" class="app-content flex-column-fluid" >
                        <!--begin::Content container-->
                        @foreach (DataRow dataRow in Model.Rows)
                        {
                            <div id="kt_app_content_container" class="app-container container-xxl">
                                <!--begin::Row-->
                                <div class="row g-5 g-xl-10 mb-xl-10">
                                    <!--begin::Col-->
                                    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
                                        <!--begin::Card widget 7-->
                                        <div class="card card-flush md-50 mb-5 mb-xl-10">
                                            <!--begin::Header-->
                                            <div class="card-header pt-5">
                                                <!--begin::Title-->
                                                <div class="card-title d-flex flex-column">
                                                    <!--begin::Amount-->
                                                    <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@dataRow["JobCount"]</span>
                                                    <!--end::Amount-->
                                                    <!--begin::Subtitle-->
                                                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Jobs</span>
                                                    <!--end::Subtitle-->
                                                </div>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Header-->
                                        </div>
                                        <!--end::Card widget 7-->
                                        
                                    </div>
                                    <!--end::Col-->

                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Content container-->
                        }
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Content wrapper-->
            </div>
        </div>
    </div>
</div>
<!--end:::Main-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}